<!-- Start Wrap -->
<div class="wrap" [class.on]="mainclass">
    <app-side (toggle)="mainclass = !mainclass"></app-side>
    <div class="main">
        <router-outlet></router-outlet>
        <!-- Start Footer -->
        <footer>
            <div class="container">
                <ul class="list-inline social">
                    <li><a><img src="http://via.placeholder.com/128x128" alt=""/></a></li>
                    <li><a><img src="http://via.placeholder.com/128x128" alt=""/></a></li>
                    <li><a><img src="http://via.placeholder.com/128x128" alt=""/></a></li>
                    <li><a><img src="http://via.placeholder.com/128x128" alt=""/></a></li>
                </ul>
                <p class="margin-bottom0">2017 © Copyright <a href="devlab.artisu.net" target="_BLANK">Artisu Dev Lab</a>. All rights Reserved.</p>
            </div>
        </footer>
        <!-- End Footer -->
    </div>
</div>
<!-- End Wrap -->
<!-- Loading Slim -->
<div class="loading-slim">
    <ng2-slim-loading-bar [color]="'#FF1744'" [height]="'2px'"></ng2-slim-loading-bar>
</div>