<!-- Head Section -->
<div class="head-section bg">
    <div class="container">
        <h4>Рекомендуйте нас друзям<span class="font-light">Отримуйте купон на 50% знижку</span></h4>
        <p><a hreff="/">лінк на купон</a></p>
    </div>
</div>
<div class="container-page">
    <div class="box-page">
        <!-- Start Slide Toggle -->
        <div class="panel">
            <div class="head-panel">
                <h6>Typography</h6>
            </div>
            <div class="body-panel">
                <div class="row">
                    <div class="col m4">
                        <p>
                            We bundle our framework with the latest iteration of Roboto Google has released. It comes with 5 different font weights you can use: 100, 300, 400, 500, 600.
                        </p>
                        <p>
                            Here is an image from Google's Roboto Specimen document displaying the different font weights.
                        </p>
                    </div>
                    <div class="col m8">
                        <img src="https://storage.googleapis.com/material-design/publish/material_v_12/assets/0Bx4BSt6jniD7SW9CUzR4MnRpOTg/style-typography-roboto1.png" class="responsive-img" alt="" />
                    </div>
                </div>
            </div>
            <div class="head-panel">
                <h6>Heading</h6>
            </div>
            <div class="body-panel">
                <h1>Heading h1</h1>
                <h2>Heading h2</h2>
                <h3>Heading h3</h3>
                <h4>Heading h4</h4>
                <h5>Heading h5</h5>
                <h6 class="margin-bottom0">Heading h6</h6>
            </div>
            <div class="code">
<pre>
&#x3C;h1&#x3E;Heading h1&#x3C;/h1&#x3E;
&#x3C;h2&#x3E;Heading h2&#x3C;/h2&#x3E;
&#x3C;h3&#x3E;Heading h3&#x3C;/h3&#x3E;
&#x3C;h4&#x3E;Heading h4&#x3C;/h4&#x3E;
&#x3C;h5&#x3E;Heading h5&#x3C;/h5&#x3E;
&#x3C;h6&#x3E;Heading h6&#x3C;/h6&#x3E;
</pre>
            </div>
            <div class="head-panel">
                <h6>Blockquote</h6>
            </div>
            <div class="body-panel">
                <blockquote>
                  This is an example quotation that uses the blockquote tag.
                </blockquote>
            </div>
            <div class="code">
<pre>
&#x3C;blockquote&#x3E;
    This is an example quotation that uses the blockquote tag.
&#x3C;/blockquote&#x3E;
</pre>
            </div>
            <div class="head-panel">
                <h6>Flow Text</h6>
            </div>
            <div class="body-panel">
                <p class="flow-text">
                    One common flaw we've seen in many frameworks is a lack of support for truly responsive text. While elements on the page resize fluidly, text still resizes on a fixed basis. To ameliorate this problem, for text heavy pages, we've created a class that fluidly scales text size and line-height to optimize readability for the user. Line length stays between 45-80 characters and line height scales to be larger on smaller screens.
                </p>
            </div>
            <div class="code">
<pre>
&#x3C;p class=&#x22;flow-text&#x22;&#x3E;
    One common flaw we&#x27;ve seen in many frameworks is a lack of support for truly responsive text. While elements on the page resize fluidly, text still resizes on a fixed basis. To ameliorate this problem, for text heavy pages, we&#x27;ve created a class that fluidly scales text size and line-height to optimize readability for the user. Line length stays between 45-80 characters and line height scales to be larger on smaller screens.
&#x3C;/p&#x3E;
</pre>
            </div>
        </div>

    </div>
</div>