<!-- Head Section -->
<div class="head-section bg">
    <div class="container">
       <h4>Рекомендуйте нас друзям<span class="font-light">Отримуйте купон на 50% знижку</span></h4>
        <p><a hreff="/">лінк на купон</a></p>
    </div>
</div>

<div class="container-page">
    <div class="box-page">
        <!-- Start List -->
        <ul class="row list-justify">
            <li class="col s4">
                Корзина
            </li>
            <li class="col s4">
                Доставка	
            </li>
            <li class="col s4 active">
                Квитанція
            </li>
        </ul>
        <!-- End List -->

        <div class="wrap-receipt">
            <div class="row">
                <div class="col l8 offset-l2 center-align">
                    <h4>Дякуємо за Ваше замовлення</h4>
                    <p>
                        Eripuit equidem recusabo nec et. Eum ex noluisse torquatos. Quod albucius rationibus eos te, mazim doming placerat cu duo, mea utinam suscipiantur ad. Et semper convenire qui.
                    </p>
                    <a mat-button class="btn btn-default" routerLink="/shop/product1">Back to shop</a>
                </div>
            </div>
        </div>
    </div>
</div>