<!-- Head Section -->
<div class="head-section bg">
    <div class="container">
       <h4>Рекомендуйте нас друзям<span class="font-light">Отримуйте купон на 50% знижку</span></h4>
        <p><a hreff="/">лінк на купон</a></p>
    </div>
</div>
<div class="container-page">
    <div class="box-page padding-bottom40">
        <div class="wrap-product">
            <!-- App Product -->
            <app-product 
                [setlimit]="4" 
                [paginate]="false"
                (detail)="detailProduct($event)"
            ></app-product>
        </div>
        <blockquote class="margin-top50">
            Documentation product element included in angushop file package
        </blockquote>
    </div>
</div>