<!-- Start Banner -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col l7 m12 content">
                <h5 class="sub-title">свіжо-смачно сервіс </h5>
                <h3 class="title">
                    Gastro Bus - завжди свіжі продукти до ваших дверей безкоштовно

                </h3>
                <a mat-button routerLink="/shop/product" class="btn btn-default">Магазин</a>
                <a mat-button class="btn btn-primary">Найпопулярніші</a>
            </div>
            <div class="col l5 m12">
                <div class="wrap-demo">
                    <img src="./assets/images/brand/front.png" class="responsive-img women-img" alt=""/>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->
<!-- Start feature -->
<div class="wrap-feature">
    <div class="container">
        <div class="row" myMatchHeight="col">
            <div class="col l4 s12">
                <div class="item-feature">
                    <mat-icon class="font-light">&#xE8CC;</mat-icon>
                    <mat-icon class="bg">&#xE8CC;</mat-icon>
                    <h5 class="title">Зручне замовлення</h5>
                    <p>
                        Замовляй через ботів в viber, skype, telegram.
                    </p>
                </div>
            </div>
            <div class="col l4 s12">
                <div class="item-feature">
                    <mat-icon class="font-light">&#xE163;</mat-icon>
                    <mat-icon class="bg">&#xE163;</mat-icon>
                    <h5 class="title">Безкоштовна доставка</h5>
                    <p>
                        При замовленні артезіанської води доставка решти замовлених продуктів безкоштовна                    </p>
                </div>
            </div>
            <div class="col l4 s12">
                <div class="item-feature">
                    <mat-icon class="font-light">&#xE8D1;</mat-icon>
                    <mat-icon class="bg">&#xE8D1;</mat-icon>
                    <h5 class="title">Завжди свіжі овочі та фрукти</h5>
                    <p>
                        Щодня рано вранці ми закуповуємо свіжі овочі та фрукти у перевірених постачальників.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End feature -->
<!-- Head Section -->
<div class="head-section">
    <div class="container">
        <h4>Останні надходження</h4>
        <p>Delectus aliquando incorrupte ne sea qui cu iudicabit.</p>
        <button mat-button routerLink="/shop/product2" class="btn btn-default margin-bottom5">В магазин</button>
    </div>
</div>
<!--start of category -->
<div *ngFor="let category of categories" class="col l3 s12">
    <div class="valign-wrapper">
        <div class="content center-align">
            <img [src]="category.image" [alt]="category.categoryName" />
            <h5 class="text-uppercase">{{category.categoryName}}</h5>
            <rating [value]="category.rate"></rating>
            <p>{{category.description}}</p>
            <a mat-mini-fab (click)="selectCategory(category.categoryName)"><mat-icon>&#xE157;</mat-icon></a>
        </div>
    </div>
</div>
<!--end of category -->
<!-- End Section -->
<!-- Start Product -->
<!--div class="product-home">
    <app-product
        [setlimit]="28"
        [paginate]="false"
        (detail)="detailProduct($event)"
    ></app-product>
</div>
<!-- End Product -->
<!-- Head Section -->


<div class="head-section">
    <div class="container">
        <h4>Торгові марки</h4>
        <p class="margin-bottom0">Delectus aliquando incorrupte ne sea qui cu iudicabit.</p>
    </div>
</div>
<!-- End Section -->
<!-- Start Vendor -->
<grid-logo [setlimit]="4"></grid-logo>
<!-- End Vendor -->
