/*
Import
=========================== */
@import '../../assets/sass/css3-mixins';
@import '../../assets/sass/variable';

/*
Variable
=========================== */
$bg-side: #1e2327;

/*
Side
=========================== */
.side{
    width: 125px;
    height: 100%;
    display: table;
    position: fixed;
    left: 0;
    top: 0;
    background: $bg-side;
    z-index: 2;

    .wrap-brand{
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px 0 15px 0;
        text-align: center;
        background: $bg-side;
        @include transition("all 0.5s ease-in-out");
        z-index: 9;

        img{
            width: 78px;
            margin-bottom: 0;

            &.mobile{
                display: none;
            }
        }
    }

    nav{
        display: table-cell;
        vertical-align: middle;

        li{
            width: 100%;
            float: none;
            text-align: center;
            position: relative;

            a{
                font-size: 24px;
                display: block;
                width: 100%;
                padding: 15px;
                @include border-radius(0);
                -webkit-box-shadow: none !important;
                -moz-box-shadow: none !important;
                box-shadow: none !important;
                position: relative;

                &.active{
                    background: rgba(0,0,0,.2);
                }

                .badge{
                    position: absolute;
                    display: table;
                    padding: 2px 5px 0;
                    color: #fff;
                    border: solid 1px $bg-side;
                    left: 50%;
                    top: 7px;
                    height: 10px;
                    @include border-radius(4px);
                    min-width: 0;
                    transform: scale(0.8,0.8);
                }
            }
        }
    }
}

/*
Menu
=========================== */
.wrap-menu{
    width: 270px;
    background: #262a2e;
    position: fixed;
    height: 100%;
    left: -270px;
    top: 0;
    overflow: auto;
    @include transition("all 0.5s ease-in-out");
    color: #ddd;
    z-index: 1;

    nav{
        width: 100%;
        padding: 25px 30px;
        display: table;

        ul.menu{
            display: table-cell;
            vertical-align: middle;
            
            > li{
                width: 100%;
                float: none;
                height: auto;
                padding: 0;

                > a{
                    text-transform: uppercase;
                    display: block;
                    width: 100%;
                    padding: 5px 0;
                    font-size: 16px;

                    &:hover{
                        background: transparent;
                        text-decoration: none;
                    }
                }
            }

            ul.drop-down{
                padding: 5px 0;
                margin: 0;

                li{
                    width: 100%;
                    float: none;

                    a{
                        color: #999;
                        background: transparent;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

/*
Responsive
=========================== */
@media(max-width:767px){
    .side{
        position: relative;
        width: 100%;
        height: auto;
        display: block;
        overflow: hidden;
        z-index: 5;

        nav{
            display: block;
            text-align: center;
            position: relative;
            z-index: 1;
            padding: 0;
            height: 53px;

            ul{
                display: inline-block;

                li{
                    width: auto;
                    float: left;
                    display: block;
                }
            }
        }

        .mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button{
            min-width: 35px;
            line-height: 24px;
        }

        .wrap-brand{
            background: $color-bg-gray2;
            overflow: hidden;
            position: relative;
            top: 0;
            padding-top: 14px;
            margin-top: 0px;
            text-align: center;
            z-index: 2;

            img{
                width: 50px;
                display: none;

                &.mobile{
                    display: block;
                    margin: auto;
                }
            }
        }
    }

    .wrap-menu{
        width: 100%;
        display: block;
        left: 0;
        top: -100%;
        height: 225px;
        z-index: 4;
        position: absolute;
        @include transition("all 0s ease-in-out");

        nav{
            height: auto !important;
            display: block;
            text-align: center;
            
            ul.menu{
                display: block;
                width: 100%;

                > li{
                    > a{
                        font-size: 14px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }
                }
            }
        }
    }
}
