<!-- Start Side -->
<div class="side">
    <div class="wrap-brand s1 m1" [class.on]="wrapbrand">
        <a href="#" class="brand">
            <img src="./assets/images/brand/logo.png" alt="">
            <img class="mobile" src="./assets/images/brand/logo-mobile.png" alt="">
        </a>
    </div>
    <nav>
        <div>
            <ul>
                <li>
                    <a mat-button (click)="toggleBar()" [class.active]="activebar">
                        <mat-icon>&#xE8FE;</mat-icon>
                    </a>
                </li>
                <li>
                    <a mat-button routerLink="/shop/product" routerLinkActive="active">
                    <mat-icon>&#xE8d1;</mat-icon>
                    </a>
                </li>

                <li>
                    <a mat-button routerLink="/shop/wishlist" routerLinkActive="active">
                        <span *ngIf="wishlistLength != 0" class="badge">{{wishlistLength}}</span>
                        <mat-icon>&#xE87E;</mat-icon>
                    </a>
                </li>
                <li>
                    <a mat-button routerLink="/shop/cart" routerLinkActive="active">
                        <span *ngIf="cartLength != 0" class="badge">{{cartLength}}</span>
                        <mat-icon>&#xE8CC;</mat-icon>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- End Side -->
<!-- Start Wrap Menu -->
<div class="wrap-menu">
    <nav #navmenu>
        <ul class="menu">
            <li *ngFor="let menu of menus">
                <a *ngIf="menu.children != null" (click)="selectMenu(menu)" [class.active]="menu == selectedMenu">{{menu.label}}</a>
                <a *ngIf="menu.children == null" [routerLink]="menu.link" routerLinkActive="active">{{menu.label}}</a>
                <ul class="drop-down" [@slideUp] *ngIf="menu == selectedMenu">
                    <li *ngFor="let child of menu.children">
                        <a [routerLink]="child.link" routerLinkActive="active">{{child.label}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<!-- End Wrap Menu -->
