.height200{
    background: #efefef;
    height: 200px;
}

.line-demo{
    background: #efefef;
    padding: 15px 20px;
}

table tr td{
    vertical-align: top;
    border: solid 1px #eee;
    padding: 15px 20px;
}