<!-- Head Section -->
<div class="head-section bg">
    <div class="container">
       <h4>Рекомендуйте нас друзям<span class="font-light">Отримуйте купон на 50% знижку</span></h4>
        <p><a hreff="/">лінк на купон</a></p>
    </div>
</div>
<div class="container-page">
    <div class="box-page">
        <!-- Start Panel -->
        <div class="panel">
            <div class="head-panel">
                <h6>Vertical Align</h6>
            </div>
            <div class="body-panel">
                <div class="valign-wrapper height200">
                    <p class="margin-bottom0">This should be vertically aligned</p>
                </div>
            </div>
            <div class="code">
<pre>
&#x3C;div class=&#x22;valign-wrapper&#x22;&#x3E;
  &#x3C;h5&#x3E;This should be vertically aligned&#x3C;/h5&#x3E;
&#x3C;/div&#x3E;
</pre>
            </div>
        </div>

        <!-- Start Panel -->
        <div class="panel">
            <div class="head-panel">
                <h6>Text Align</h6>
            </div>
            <div class="body-panel">
                <p class="line-demo left-align">This should be vertically aligned</p>
                <p class="line-demo center-align">This should be vertically aligned</p>
                <p class="line-demo right-align">This should be vertically aligned</p>
            </div>
            <div class="code">
<pre>
&#x3C;div class=&#x22;left-align&#x22;&#x3E;This should be vertically aligned&#x3C;/div&#x3E;
&#x3C;div class=&#x22;center-align&#x22;&#x3E;This should be vertically aligned&#x3C;/div&#x3E;
&#x3C;div class=&#x22;right-align&#x22;&#x3E;This should be vertically aligned&#x3C;/div&#x3E;
</pre>
            </div>
        </div>

        <!-- Start Panel -->
        <div class="panel">
            <div class="head-panel">
                <h6>Quick Float</h6>
            </div>
            <div class="code">
<pre>
&#x3C;div class=&#x22;left&#x22;&#x3E;...&#x3C;/div&#x3E;
&#x3C;div class=&#x22;right&#x22;&#x3E;...&#x3C;/div&#x3E;
</pre>
            </div>
        </div>

        <!-- Start Panel -->
        <div class="panel">
            <div class="head-panel">
                <h6>Quick Floar</h6>
            </div>
            <div class="body-panel">
                <table class="striped">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Screen Range</th>
                    </tr>
                  </thead>
                    <tbody>
                    <tr>
                      <td><strong>.hide</strong></td>
                      <td>Hidden for all Devices</td>
                    </tr>
                    <tr>
                      <td><strong>.hide-on-small-only</strong></td>
                      <td>Hidden for Mobile Only</td>
                    </tr>
                    <tr>
                      <td><strong>.hide-on-med-only</strong></td>
                      <td>Hidden for Tablet Only</td>
                    </tr>
                    <tr>
                      <td><strong>.hide-on-med-and-down</strong></td>
                      <td>Hidden for Tablet and Below</td>
                    </tr>
                    <tr>
                      <td><strong>.hide-on-med-and-up</strong></td>
                      <td>Hidden for Tablet and Above</td>
                    </tr>
                    <tr>
                      <td><strong>.hide-on-large-only</strong></td>
                      <td>Hidden for Desktop Only</td>
                    </tr>
                    <tr>
                      <td><strong>.show-on-small</strong></td>
                      <td>Show for Mobile Only</td>
                    </tr>
                    <tr>
                      <td><strong>.show-on-medium</strong></td>
                      <td>Show for Tablet Only</td>
                    </tr>
                    <tr>
                      <td><strong>.show-on-large</strong></td>
                      <td>Show for Desktop Only</td>
                    </tr>
                    <tr>
                      <td><strong>.show-on-medium-and-up</strong></td>
                      <td>Show for Tablet and Above</td>
                    </tr>
                    <tr>
                      <td><strong>.show-on-medium-and-down</strong></td>
                      <td>Show for Tablet and Below</td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="code">
<pre>
&#x3C;div class=&#x22;hide-on-small-only&#x22;&#x3E;&#x3C;/div&#x3E;
</pre>
            </div>
        </div>

        <!-- Start Panel -->
        <div class="panel">
            <div class="head-panel">
                <h6>Truncation</h6>
            </div>
            <div class="body-panel">
                <div class="truncate">
                    Lorem ipsum dolor sit amet, eam vitae tantas sadipscing id, eam harum semper partiendo ea. Omnes tation ex mei. Nam deserunt inimicus ex. Purto reprimique est ex. Eirmod similique nam et, dictas recusabo duo cu, ea malorum voluptatum vel.
                </div>
            </div>
            <div class="code">
<pre>
&#x3C;div class=&#x22;truncate&#x22;&#x3E;This is an extremely long title that will be truncated&#x3C;/div&#x3E;
</pre>
            </div>
        </div>

        <!-- Start Panel -->
        <div class="panel">
            <div class="head-panel">
                <h6>Margin Helper</h6>
            </div>
            <div class="body-panel">
                <table class="striped">
                    <tr>
                        <td width="150"><strong>Margin Top</strong></td>
                        <td>
                            .margin-top0<br />
                            .margin-top10<br />
                            .margin-top20<br />
                            .margin-top30<br />
                            .margin-top40<br />
                            .margin-top50<br />
                            .margin-top60<br />
                            .margin-top70
                        </td>
                    </tr>
                    <tr>
                        <td width="150"><strong>Margin Bottom</strong></td>
                        <td>
                            .margin-bottom0<br />
                            .margin-bottom10<br />
                            .margin-bottom20<br />
                            .margin-bottom30<br />
                            .margin-bottom40<br />
                            .margin-bottom50<br />
                            .margin-bottom60<br />
                            .margin-bottom70
                        </td>
                    </tr>
                    <tr>
                        <td width="150"><strong>Margin Left</strong></td>
                        <td>
                            .margin-left5<br />
                            .margin-left10<br />
                            .margin-left15<br />
                            .margin-left20
                        </td>
                    </tr>
                    <tr>
                        <td width="150"><strong>Margin Right</strong></td>
                        <td>
                            .margin-right5<br />
                            .margin-right10<br />
                            .margin-right15<br />
                            .margin-right20
                        </td>
                    </tr>
                </table>
            </div>
            <div class="code">
<pre>
&#x3C;div class=&#x22;margin-top70&#x22;&#x3E;&#x3C;/div&#x3E;
</pre>
            </div>
        </div>

        <!-- Start Panel -->
        <div class="panel">
            <div class="head-panel">
                <h6>Padding Helper</h6>
            </div>
            <div class="body-panel">
                <table class="striped">
                    <tr>
                        <td width="150"><strong>Padding Top</strong></td>
                        <td>
                            .padding-top0<br />
                            .padding-top10<br />
                            .padding-top20<br />
                            .padding-top30<br />
                            .padding-top40<br />
                            .padding-top50<br />
                            .padding-top60<br />
                            .padding-top70
                        </td>
                    </tr>
                    <tr>
                        <td width="150"><strong>Padding Bottom</strong></td>
                        <td>
                            .padding-bottom0<br />
                            .padding-bottom10<br />
                            .padding-bottom20<br />
                            .padding-bottom30<br />
                            .padding-bottom40<br />
                            .padding-bottom50<br />
                            .padding-bottom60<br />
                            .padding-bottom70
                        </td>
                    </tr>
                    <tr>
                        <td width="150"><strong>Padding Left</strong></td>
                        <td>
                            .padding-left30<br />
                            .padding-left40<br />
                            .padding-left50
                        </td>
                    </tr>
                    <tr>
                        <td width="150"><strong>Padding Right</strong></td>
                        <td>
                            .padding-right30<br />
                            .padding-right40<br />
                            .padding-right50
                        </td>
                    </tr>
                </table>
            </div>
            <div class="code">
<pre>
&#x3C;div class=&#x22;padding-top70&#x22;&#x3E;&#x3C;/div&#x3E;
</pre>
            </div>
        </div>

    </div>
</div>